.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.clearfix::after {
    content: "";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

.hr-solid {
    border: 0;
    border-top: 1px solid #d0d0d5;
}

.timefont {
    color: rgb(140, 140, 140);
    font-size: 9px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.supportfont{
    color: rgb(140, 140, 140);
    font-size: 9px;
    margin: 5px;
    text-align: center;
}

.titlefont {
    font-family: Tahoma;
    font-size: 25px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-style: oblique;
    font-variant: normal;
    text-transform: capitalize;
}

.blog-card {
    border: 1px outset cornflowerblue;
    margin: 3px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
}

.blog-content {
    overflow: hidden;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    top: 0;
    width: 100%;
}

.navi li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.navi li:hover {
    background-color: #111;
}